$maxMobile:" (max-width:767px)";
$maxSmall:" (max-width:991px)";
$minSmall:" (min-width:768px)";
$minMedium:" (min-width:992px)";
$minLarge:" (min-width:1200px)";
$mainColor:#3397f9;
$h-color:#2F4F4F;
$p-color:#B0C4DE;
$float-l:left;
$float-r:right;
$text-r:right;
$text-l:left;
